## mako
<%!
  from django.core.urlresolvers import reverse
  from django.utils.translation import ugettext as _
%>
<%namespace name='static' file='/static_content.html'/>
<%namespace file='main.html' import="login_query"/>
<%inherit file="navigation.html"/>

## TODO: this will eventually be moved to the Sass
<%block name="navigation_logo">
  <img src="${static.url('lagunita/images/lagunita-logo.png')}" height="50" alt="${_('{platform_name}, Courses List').format(platform_name='Lagunita')}" />
</%block>

## When unauthenticated, only show the about page link
<%block name="navigation_global_links">
  <li class="nav nav-global-01">
    <a class="btn" href="${marketing_link('ABOUT')}">${_('About')}</a>
  </li>
</%block>
